main {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;

        .header {
            text-align: center;
            margin-bottom: 2rem;
            h1{
                font-family: $fuente-titulos;
                color: $color-principal;
                font-size: 4em;
            }
        }

        .content {
            width: 100%;
            max-width: 400px;
            padding: 2rem;
            background-color: rgba(255, 255, 255, 0.8);
            text-align: center;

            label{
                color: $color-principal;
                font-size: 1em;
            }

            button {
                display: inline-block;
                border-radius: 6px;
                background-color: $color-principal;
                border: white .1px outset;
                color: #FFFFFF;
                text-align: center;
                font-size: 17px;
                padding: 6px;
                width: 130px;
                transition: all 0.5s;
                cursor: pointer;
                margin: auto;

                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;

                    &:after {
                        content: '»';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -15px;
                        transition: 0.5s;
                    }
                }

                &:hover {
                    span {
                        padding-right: 15px;

                        &:after {
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
            }
        }

    }



}