main {
    header{
        .navbar{
            .container-fluid{
                .navbar-toggler{
                    background-color: $color-principal !important;
                }
            }
        }
    }
    div {
        .carousel-inner {
            div {
                img {
                    max-height: 550px;
                }
            }

            p {
                font-size: 16px;
            }
        }
    }

    .section_banner-top {
        display: flex;
        flex-direction: column;
        background-color: $color-principal;
        padding: 15px;

        .div_banner-top {
            text-align: center;
            .button_banner {
                display: inline-block;
                border-radius: 6px;
                background-color: $color-principal;
                border: white .1px outset;
                color: #FFFFFF;
                text-align: center;
                font-size: 17px;
                padding: 6px;
                width: 130px;
                transition: all 0.5s;
                cursor: pointer;
                margin: 5px;

                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;

                    &:after {
                        content: '»';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -15px;
                        transition: 0.5s;
                    }
                }

                &:hover {
                    span {
                        padding-right: 15px;

                        &:after {
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
            }

            p {
                color: white;
            }
        }
    }

    .section_banner-bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #e0e0e0;
        padding: 15px;
        margin-bottom: 15px;

        p {
            margin-top: auto;
        }
    }

    hr {
        height: 1px;
        opacity: .5;
        max-width: 896px;
        margin: 0 auto -2px;
        padding: 15px;
    }

    .encabezado-cards {
        strong {
            font-size: 13px;
            font-family: $fuente-titulos;
        }

        h3 {
            color: $color-principal;
            font-size: 24px;
            font-weight: 700;
            font-family: $fuente-titulos;
        }
    }

    .section_cards {
        justify-content: center;
        gap: 50px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        padding-bottom: 15px;
        .card{
            .card-body{
                text-align: center;
            }
        }

        .btn-primary {
            background-color: $color-principal !important;

            &:hover {
                background-color: white !important;
                color: $color-principal !important;
                font-weight: bold;
                font-size: 15px;
            }
        }

        div {
            h5 {
                font-family: $fuente-titulos;
                font-weight: 700;
                color: $color-principal;
                font-size: 1em;
            }

            p {
                min-height: 150px;
            }
        }
    }

    .section_banner-bottom2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        background-color: $color-principal;
        padding: 15px;

        p {
            color: white;
        }

        .button_banner-bottom {
            display: inline-block;
            border-radius: 6px;
            background-color: $color-principal;
            border: white .1px outset;
            color: #FFFFFF;
            text-align: center;
            font-size: 17px;
            padding: 6px;
            width: 130px;
            transition: all 0.5s;
            cursor: pointer;
            margin: auto;

            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

                &:after {
                    content: '»';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -15px;
                    transition: 0.5s;
                }
            }

            &:hover {
                span {
                    padding-right: 15px;

                    &:after {
                        opacity: 1;
                        right: 0;
                    }
                }
            }
        }
    }

    .section_banner-bottom3 {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 15px;
        margin-bottom: 15px;

        p {
            margin-top: auto;
        }

        .button_banner-bottom {
            display: inline-block;
            border-radius: 6px;
            background-color: $color-principal;
            border: white .1px outset;
            color: #FFFFFF;
            text-align: center;
            font-size: 17px;
            padding: 6px;
            width: 130px;
            transition: all 0.5s;
            cursor: pointer;
            margin: auto;

            span {
                cursor: pointer;
                display: inline-block;
                position: relative;
                transition: 0.5s;

                &:after {
                    content: '»';
                    position: absolute;
                    opacity: 0;
                    top: 0;
                    right: -15px;
                    transition: 0.5s;
                }
            }

            &:hover {
                span {
                    padding-right: 15px;

                    &:after {
                        opacity: 1;
                        right: 0;
                    }
                }
            }
        }
    }

    .section_app {
        margin: 25px;

        .div_app {
            display: flex;
            flex-direction: column;
            align-items: center;

            .div_img-app {
                img {
                    width: 100%;
                }
            }
        }

        .div_buttons-app {
            button {
                display: inline-block;
                border-radius: 6px;
                background-color: $color-principal;
                border: white .1px outset;
                color: #FFFFFF;
                text-align: center;
                font-size: 17px;
                padding: 6px;
                width: 130px;
                transition: all 0.5s;
                cursor: pointer;
                margin: auto;

                span {
                    cursor: pointer;
                    display: inline-block;
                    position: relative;
                    transition: 0.5s;

                    &:after {
                        content: '»';
                        position: absolute;
                        opacity: 0;
                        top: 0;
                        right: -15px;
                        transition: 0.5s;
                    }
                }

                &:hover {
                    span {
                        padding-right: 15px;

                        &:after {
                            opacity: 1;
                            right: 0;
                        }
                    }
                }
            }
        }
    }

    @media(min-width: 767px) {
        .section_banner-top {
            display: flex;
            flex-direction: row;
        }

        .section_banner-bottom {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            .button_banner {
                margin: 5px;
            }
        }
    }
}