main {
    .section_hero {
        background-repeat: no-repeat;
        background-size: cover;
    }

    .section_ppersonasypro-banner {
        background-color: gray;
        color: black;
        padding: 60px;

        p {
            max-width: 850px;
            margin: auto;
        }
    }

    .h2_personas {
        padding: 15px;

        h2 {
            color: $color-principal;
            font-family: $fuente-titulos;
            font-weight: 700;
            font-size: 35px;
        }
    }

    .h2_pempresas {
        padding: 15px;

        h2 {
            color: $color-principal;
            font-family: $fuente-titulos;
            font-weight: 700;
            font-size: 35px;
        }
    }

    .section_cards-ppersonasypro {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 10px;
        justify-items: center;
        padding: 25px;
        text-align: center;

        .card {
            .card-body {
                p {
                    font-size: .9rem;
                }
            }
        }

        .btn-primary {
            background-color: $color-principal !important;

            &:hover {
                background-color: white !important;
                color: $color-principal !important;
                font-weight: bold;
                font-size: 15px;
            }
        }

        div {
            h5 {
                font-family: $fuente-titulos;
                font-weight: 700;
                color: $color-principal;
                font-size: 1em;
            }

            p {
                min-height: 145px;
            }
        }
    }

    @media (min-width: 768px) {
        .section_cards-ppersonasypro {
            grid-template-columns: repeat(2, 1fr);

        }
    }

    @media (min-width: 1024px) {
        .section_cards-ppersonasypro {
            grid-template-columns: repeat(3, 1fr);

        }

    }

    @media (min-width: 1135px) {
        .section_cards-ppersonasypro {
            grid-template-columns: repeat(4, 1fr);
        }

    }
}